/* markup */

pre, code {
  border: 1px solid #E1E1E8;
  font-family: monospace;
  background-color: #F7F7FA;
  font-size: 90%;
}

pre {
  padding: 4px 8px;
}

pre code {
  border: none;
}

a:link, a:visited {color: #008ACE; text-decoration: none;}
a:hover, a:active {text-decoration: underline;}

/* styles */

body {
  overflow-x: hidden;
  padding-bottom: 50px;
  color: #333;
  font-family: Helvetica, Arial, sans;
  font-size: 16px;
  line-height: 140%;
  margin: 0px;
}

header {
  margin-bottom: 70px;
}

h1 {
  text-align: center;
  background-color: black;
  margin: 0px;
  padding-bottom: 65px;
  padding-top: 50px;
}

main {
  max-width: 800px;
  margin: auto;
}

main > h2 {
  font-size: 40px;
  margin: 30px 0px;
}

.item {
  padding: 17px;
  padding-top: 5px;
  padding-bottom: 20px;
}

.item > h3 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 25px;
}

.item > p {
  margin-top: 10px;
  margin-bottom: 0px;
}

.item > ul {
  margin-top: 10px;
}

.item > ul {
  padding-left: 23px;
  margin-bottom: 0px;
}

.item > ul > li {
  margin-top: 8px;
}

.item:hover {
  background-color: #f5f5f5;
}

.wip {
  color: gray;
  margin-left: 10px;
  font-size: 15px;
}
